<main>
  <div class="container-fluid">
    <h2>Sales table</h2>
    <% if (sales.length) { %>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nr</th>
            <th scope="col">Sale date</th>
            <th scope="col">Store location</th>
            <th scope="col">Purchase method</th>
            <th scope="col">Coupon</th>
          </tr>
        </thead>
        <tbody>
          <% sales.forEach((element, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= element.saleDate %></td>
            <td><%= element.storeLocation %></td>
            <td><%= element.purchaseMethod %></td>
            <td>
              <% if (element.couponUsed) { %>
              <i class="bi bi-check-circle text-success"></i>
              <% } else { %>
              <i class="bi bi-x-circle text-danger"></i>
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <nav aria-label="Table pagination">
        <ul class="pagination">
          <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="<%= `/dashboard?limit=${limit}&page=${page-1}` %>"
              >Previous</a
            >
          </li>
          <% let i = page < 5 ? 1 : page - 3 %> <% for (; i <= page + 3 && i <=
          count/limit; i++) { %>
          <li class="page-item <%= page === i ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="<%= `/dashboard?limit=${limit}&page=${i}` %>"
            >
              <%= i %>
            </a>
          </li>
          <% } %>
          <li class="page-item <%= page === count/limit ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="<%= `/dashboard?limit=${limit}&page=${page+1}` %>"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <% } %>
  </div>
  <div>
    count, page, limit
    <p><%= count %></p>
    <p><%= page %></p>
    <p><%= limit %></p>
  </div>
</main>
